@page "/Fuel"
@using BlazorBootstrap
@using ApexCharts
@rendermode InteractiveServer
@inject HttpClient _httpClient
<h3>Benzin</h3>


@if (petrol != null && diesel != null)
{
    <ApexChart TItem="Fuel" Title="Order Net Value" XAxisType="XAxisType.Datetime">

        <ApexPointSeries TItem="@Fuel"
                         Items="@petrol"
                         Name="Petrol"
                         SeriesType="SeriesType.Area"
                         XValue="@(e => e.date)"
                         YValue="@(e => e.price)"
        />
        <ApexPointSeries TItem="@Fuel"
                         Items="@diesel"
                         Name="Diesel"
                         SeriesType="SeriesType.Area"
                         XValue="@(e => e.date)"
                         YValue="@(e => e.price)"
        />
    
    </ApexChart>
    
}


@code {

    public Fuel[] petrol;
    public Fuel[] diesel;
    
    
    protected override async Task OnInitializedAsync()
    {
        
        
        petrol =  await _httpClient.GetFromJsonAsync<Fuel[]>("https://magsapi.onrender.com/api/miles95");
        diesel = await _httpClient.GetFromJsonAsync<Fuel[]>("https://magsapi.onrender.com/api/diesel");


    }
    


    public class Fuel
    {
        public decimal price { get; set; }
        public DateTime date { get; set; }
    }
    
}